<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{{ site.github.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')
</script>
<script src="{{ site.github.url }}/assets/js/scripts.min.js"></script>
<script>
(function() {
    var btn = document.getElementById('menutoggle');
    if (btn) {
        btn.addEventListener('click', function(e) {
            e.stopPropagation();
        }, false);
    }
})();
</script>
<!-- Dark mode toggle -->
<script>
(function() {
    var toggle = document.getElementById('theme-toggle');
    var icon = document.getElementById('theme-icon');
    if (!toggle || !icon) return;

    function updateIcon() {
        var isDark = document.documentElement.getAttribute('data-theme') === 'dark';
        icon.className = isDark ? 'fa fa-moon-o' : 'fa fa-sun-o';
    }
    updateIcon();

    toggle.addEventListener('click', function() {
        var isDark = document.documentElement.getAttribute('data-theme') === 'dark';
        if (isDark) {
            document.documentElement.removeAttribute('data-theme');
            localStorage.setItem('theme', 'light');
        } else {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark');
        }
        updateIcon();
    });

})();
</script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
    var _gaq = _gaq || [];
    var pluginUrl =
        '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %} {% if page.comments %} {% include _disqus_comments.html %} {% endif %}