/* ==========================================================================
   Typography
   ========================================================================== */


/*
   Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h1 {
    @include font-rem(24);
    line-height: 1.3;
    @media #{$small} {
        @include font-rem(32);
        line-height: 1.2;
    }
}

h2 {
    @include font-rem(20);
    line-height: 1.3;
    @media #{$small} {
        @include font-rem(28);
        line-height: 1.2;
    }
}

div.article-wrap h2 {
    border-bottom: solid 1px var(--color-border-medium);
}

h3 {
    @include font-rem(18);
    line-height: 1.3;
    @media #{$small} {
        @include font-rem(24);
    }
}

h4 {
    @include font-size(18);
}

h5 {
    @include font-size(16);
}

h6 {
    @include font-size(14);
}


/*
   Links
   ========================================================================== */

a {
    text-decoration: none;
    color: var(--color-link);
    &:visited {
        color: var(--color-link-visited);
    }
    &:hover {
        color: var(--color-link-hover);
        text-decoration: underline;
    }
    &:focus {
        outline: thin dotted;
        color: var(--color-link-hover);
    }
    &:hover,
    &:active {
        outline: 0;
    }
}

.top-navigation a {
    text-decoration: none;
  }

h1 a, h2 a {
    text-decoration: none;
}

.site-name a {
    text-decoration: none;
}



/*
   Figure captions
   ========================================================================== */

figcaption {
    padding-top: 10px;
    @include font(14);
    line-height: 1.3;
    color: var(--color-text-caption);
}


/*
   Feature image captions
   ========================================================================== */

.image-credit {
    @include grid(12, 10);
    @include prefix(12, 1);
    @include suffix(12, 1);
    display: block;
    text-align: right;
    @include font(12);
    line-height: 1.3;
    font-style: italic;
    color: var(--color-text-credit);
    @media #{$small} {
        @include grid(12, 9);
        @include prefix(12, 0);
        @include suffix(12, 0);
    }
    @media #{$x-large} {
        @include grid(12, 8.5);
    }
    a {
        color: var(--color-text-credit);
    }
}


/*
   Notices
   ========================================================================== */

.notice {
    margin-top: 1.5em;
    padding: .5em 1em;
    text-indent: 0;
    @include font-rem(14);
    background-color: var(--color-bg);
    border: 1px solid var(--color-border-darker);
    @include rounded(3px);
}


/*
   Blockquotes
   ========================================================================== */

blockquote {
    margin-left: 1.5em;
    padding: 12px 20px;
    border-left: 4px solid $highlightcolor;
    background: var(--color-blockquote-bg);
    border-radius: 2px;
    font-style: italic;
}


/*
   Footnotes
   ========================================================================== */

.footnotes {
    ol,
    li,
    p {
        margin-bottom: 0;
        @include font-rem(14);
    }
}


/*
   Paragraphs
   ========================================================================== */

p {
    margin: 0 0 $indent-var;
    line-height: 1.6;
    // sibling indentation
    @if $paragraph-indent==true {
        &+p {
            text-indent: $indent-var;
            margin-top: -($indent-var);
        }
    }
}


/*
   Code snippets
   ========================================================================== */

tt,
code,
kbd,
samp,
pre {
    font-family: $code-font;
}

p,
ol,
li {
    code {
        @include font-rem(13);
        background-color: var(--color-code-bg);
        padding: 2px 6px;
        border: 1px solid var(--color-code-border);
        border-radius: 3px;
        color: var(--color-code-text);
    }
}

pre {
    @include font-rem(12);
    line-height: 1.5;
    overflow-x: auto;
}

ul li {
    line-height: 1.1;  // Increase line height to 1.1
    margin-bottom: 10px;  // Adds 10px margin to the bottom of each list item
  }

ol li {
    line-height: 1.2;  // Increase line height to 1.5
    margin-bottom: 10px;  // Adds 10px margin to the bottom of each list item
  }  